[Desktop Entry]
Type=Application
Name=ROS Navigation
Comment=Auto start ROS navigation on boot
Exec=/home/rm/.config/autostart/follow.sh
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=false
X-GNOME-Autostart-Delay=0
Terminal=false
