<?xml version="1.0"?>
<launch>

    <!-- 设置使用仿真时间 -->
    <param name="use_sim_time" value="true" />


    <node pkg="rosbag" type="play" name="bag_player" 
        args="/home/rm/rosbag/test.bag --rate=0.5 --clock"
        launch-prefix="bash -c 'sleep 8.0; $0 $@'">
        <!-- loop参数也需要在args中指定 -->
    </node>

    <!-- 串口通信节点，延迟10秒启动（等待bag_player启动）/dev/ttyACM0   /dev/pts/5 -->
    <node pkg="serial_com" type="serial_com" name="serial_com" output="screen"
          launch-prefix="bash -c 'sleep 10.0; $0 $@'">
        <!-- 参数设置 -->
        <param name="cmd_vel_topic" type="string" value="/cmd_vel1" />
        <param name="serial_port" type="string" value="/dev/ttyACM0" />
        
        <!-- ROS参数服务器设置 -->
        <rosparam>
            baud_rate: 115200
            timeout: 1000
            default_spin_mode: false
        </rosparam>
    </node>
    
</launch>